asgiref==3.11.1
click==8.3.1
colorama==0.4.6
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
dotenv==0.9.9
h11==0.16.0
pillow==12.1.1
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2025.3
uvicorn==0.41.0
